$white: #fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-border: #ccc;
$color-link: #51ddfc;

$font-stack-primary: 'Lato', sans-serif;

//Buttons

$color-bg-button: (
  'default': #51ddfc,
    'error': #e4757a,
     'info': #927bc1,
  'success': #63cc82,
  'warning': #fd7856
);

//BREAKPOINT

$break-l: 768px;
